<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @movie.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @movie.image_url %>
</p>

<p>
  <strong>Genders:</strong>
  <%= @movie.genders %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
