= form_for(@user, class: 'form-horizontal') do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  -if @user.new_record?
    .form-group
      = f.label :id, class: 'control-label'
      %br
      = f.number_field :id, class: 'form-control'
  .form-group
    = f.label :name, class: 'control-label'
    %br
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :image_url, class: 'control-label'
    %br/
    = f.text_field :image_url, class: 'form-control'
  .form-group
    = f.label :nick, class: 'control-label'
    %br/
    = f.text_field :nick, class: 'form-control'
  .actions
    = f.submit